<html>
    <head>
        <title>Panacea | Statistics</title>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
		<link rel="icon" type="image/x-icon" href="https://media.discordapp.net/attachments/668486291033292801/668486641572118561/ZHBotServer.png" />
		<meta content="https://media.discordapp.net/attachments/668486291033292801/668486641572118561/ZHBotServer.png" property="og:image" /> 
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/overcast/jquery-ui.css" />
		<meta name="description" content="Graphical representations of Zhorde discord and minecraft statistics compiled every hour since 6/17/2020 by the Zhorde Discord Bot." />
		<meta property="og:description" content="Graphical representations of Zhorde discord and minecraft statistics compiled every hour since 6/17/2020 by the Zhorde Discord Bot." />
		<meta property="og:title" content="Panacea | Statistics" />
        <meta property="og:url" content="https://panaceabot.glitch.me/statistics" />
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <style>
            body {
                background-color: #1e1e1e;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            div.chart-container {
                margin-top: -25%;
            }

            div.credit {
                position: fixed; bottom: 5px;
                right: 5px;
                font-size: 12pt;
                color: #999;
                cursor: default;
            }

            div.leftside {
                position: fixed; bottom: -5px;
                left: 5px;
                font-size: 12pt;
                color: #999;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
            }

            div.leftside > p {
                cursor: default;
            }

            div.stats-container,div.time-container {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            button {
                background: royalblue;
                color: white;
                padding: 10px 30px 10px 30px;
                border: none;
                margin: 5px;
                border-radius: 5px;
                font-family: Verdana;
                transition: 0.3s ease all;
                cursor: pointer;
                transform: scale(1);
                z-index: 1;
                outline: none;
            }

            button:hover {
                background: #3755ad;
                transform: scale(1.05);
            }

            button.stats-selected, button.chart-selected {
                background: #304994;
                z-index: 2;
            }

            button.stats-selected:hover, button.chart-selected:hover {
                background: #304994;
                transform: scale(1);
            }

            .logo {
                position: fixed;
                top: 5;
                right: 5;
                width: 50px;
                height: 50px;
                cursor: pointer;
            }

            a[href] {
                color: #bbb;
            }

            #rawjson {
                opacity: 0;
                transition: 3s ease all;
                margin-left: 5px;
            }

            #info-icon {
                width: 25px;
                height: 25px;
            }
        </style>
    </head>
    <body>
        <div class="chart-container" style="position: relative; height:40vh; width:80vw">
            <canvas id="chart"></canvas>
            <div class="stats-container">
                <button id="discord-stats">Discord Stats Only</button><button id="both-stats" class="stats-selected">Show Both Stats</button><button id="mc-stats">MC Stats Only</button><br>
            </div>
            <div class="time-container">
                <button id="chart-eternity">Stats Since 6/17/2020</button><button id="chart-weekly" class="chart-selected">Weekly Statistics</button><button id="chart-daily">Daily Statistics <a id="spec-date"></a></button>
            </div>
        </div>
        <div class="credit">
            Created by Cannicide#2753
        </div>
        <div class="leftside">
            <img id="info-icon" src="https://cdn.glitch.com/71f6d3c6-0b04-4012-9c67-afb1f4a20d07%2Finfo-icon.png?v=1597004879028"> <p id="rawjson">View raw JSON data <a href="https://panaceabot.glitch.me/statistics/json" target="_blank">here</a></p>
        </div>
        <img class="logo" src="https://media.discordapp.net/attachments/668486291033292801/668486641572118561/ZHBotServer.png" onclick="location.href = 'https:/' + '/panaceabot.glitch.me/statistics';" />
    </body>
    <script>
        //Get current date:
        var fulldate = new Date().toLocaleString('en-US', {
            timeZone: 'America/New_York'
        });
        
        let parts = fulldate.split(", ");

        var date = parts[0];
        var dateparts = date.split("/");

        var month = Number(dateparts[0]);
        var day = Number(dateparts[1]);
        var year = Number(dateparts[2]);

        //Get number of days in given month (numeric month):
        function getLastDay(m, y) {
            //Checks for leap year:
            function leapYear(year) {
                return ((year % 4 == 0) && (year % 100 != 0)) || (year % 400 == 0);
            }

            //30 days in september (9), april (4), june (6), and november (11)
            if (m == 9 || m == 4 || m == 6 || m == 11) {
                return 30;
            }
            else if (m == 2) {
                return leapYear(y) ? 29 : 28;
            }
            else {
                return 31;
            }
        }

        //Find the dates of the seven past days using the current date
        var goaldates = [];

        for (var i = 7; i > 0; i--) {
            if (day - i <= 0) {
                var differential = Math.abs(day - i);
                if (month == 1) {
                    goaldates.push(12 + "/" + (getLastDay(12, year) - differential) + "/" + (year - 1));
                }
                else {
                    goaldates.push(month - 1 + "/" + (getLastDay(month - 1, year) - differential) + "/" + year);
                }
            }
            else {
                goaldates.push(month + "/" + (day - i) + "/" + year);
            }
        }

        
        //Global stats variables
        var stats;
        //Timemodes (0 = all time, 1 = past week, 2 = one day), statsmodes (0 = discord only, 1 = both, 2 = mc only)
        var timemode = 1, statsmode = 1;
        //Selected day for timemode 2 (daily stats)
        var selday = date;
        //Chart object
        var chart;
        //Data url
        var dataurl;

        if (location.href.startsWith("https")) dataurl = "https://panaceabot.glitch.me/statistics/json";
        else dataurl = "http://panaceabot.glitch.me/statistics/json";

        //Fetch statistics data
        $.ajax({
            url: dataurl,
            cache: false
        }).done((text) => {
            stats = text;

            //Builds weekly (default, stats for past 7 days) chart
            function chartWeekly() {

                //Set x-axis:
                var labels = ["7 Days Ago", "6 Days Ago", "5 Days Ago", "4 Days Ago", "3 Days Ago", "2 Days Ago", "1 Day Ago"];

                //Discord members online for the past 7 days, in order (on graph)
                var discOnline = [];

                //Minecraft players online for the past 7 days, in order (on graph)
                var mcOnline = [];

                //% of Discord members online for the past 7 days, in order (on tooltip)
                var discPercent = [];

                //Total Discord members in guild for past 7 days, in order (on tooltip)
                var totalDisc = [];


                goaldates.forEach((item, index) => {
                    if (item in stats) {
                        var dataset = stats[item];
                        var avgDiscOnline = 0, avgMcOnline = 0, avgDiscPercent = 0, avgTotalDisc = 0;
                        var keys = Object.keys(dataset);

                        keys.forEach((key) => {
                            avgDiscOnline += dataset[key]["onlineDiscordMembers"];
                            avgMcOnline += dataset[key]["onlineMinecraftPlayers"];
                            avgDiscPercent += dataset[key]["percentDiscordOnline"];
                            avgTotalDisc += dataset[key]["totalDiscordMembers"];
                        });

                        avgDiscOnline = Math.floor(avgDiscOnline / keys.length);
                        avgMcOnline = Math.floor(avgMcOnline / keys.length);
                        avgDiscPercent = Math.floor(avgDiscPercent / keys.length);
                        avgTotalDisc = Math.floor(avgTotalDisc / keys.length);

                        discOnline.push(avgDiscOnline);
                        mcOnline.push(avgMcOnline);
                        discPercent.push(avgDiscPercent);
                        totalDisc.push(avgTotalDisc);
                    }
                    else {
                        discOnline.push(-1);
                        mcOnline.push(-1);
                        discPercent.push(-1);
                        totalDisc.push(-1);
                    }
                });

                if(chart!=null){
                    chart.destroy();
                }

                chart = new Chart($("#chart"), {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [
                            (statsmode == 0 || statsmode == 1 ? {
                                label: "# Discorders Online",
                                data: discOnline,
                                backgroundColor: "#7289DA"
                            } : {}),
                            (statsmode == 1 || statsmode == 2 ? {
                                label: "# Minecrafters Online",
                                data: mcOnline,
                                backgroundColor: "limegreen"
                            } : {})
                        ]
                    },
                    options: {
                        responsive: true,
                        tooltips: {
                            enabled: true,
                            callbacks: {
                                label: (tooltipItem, data) => {
                                    var resp = [tooltipItem.value + (tooltipItem.datasetIndex == 0 ? " Discorders" : " Minecrafters")];
                                    if (tooltipItem.datasetIndex == 0) {
                                        resp.push(discPercent[tooltipItem.index] + "% Online");
                                        resp.push(totalDisc[tooltipItem.index] + " Total Members");
                                    }

                                    if (tooltipItem.value == -1) resp = ["No data collected for this day."];
                                    return resp;
                                }
                            }
                        },
                        scales: {
                            yAxes: [{
                                gridLines: {
                                    display: true,
                                    color: "#666"
                                }
                            }],
                            xAxes: [{
                                gridLines: {
                                    display: true,
                                    color: "#666"
                                }
                            }]
                        }
                    }
                });
            }

            chartWeekly();

            //Builds chart for all days since 6/17/2020
            function chartEternity() {
                var labels = [];

                //Discord members online for all days since 6/17, in order (on graph)
                var discOnline = [];

                //Minecraft players online for all days since 6/17, in order (on graph)
                var mcOnline = [];

                //% of Discord members online for all days since 6/17, in order (on tooltip)
                var discPercent = [];

                //Total Discord members in guild for all days since 6/17, in order (on tooltip)
                var totalDisc = [];

                for (item in stats) {
                    labels.push(item);

                    var dataset = stats[item];
                    var avgDiscOnline = 0, avgMcOnline = 0, avgDiscPercent = 0, avgTotalDisc = 0;
                    var keys = Object.keys(dataset);

                    keys.forEach((key) => {
                        avgDiscOnline += dataset[key]["onlineDiscordMembers"];
                        avgMcOnline += dataset[key]["onlineMinecraftPlayers"];
                        avgDiscPercent += dataset[key]["percentDiscordOnline"];
                        avgTotalDisc += dataset[key]["totalDiscordMembers"];
                    });

                    avgDiscOnline = Math.floor(avgDiscOnline / keys.length);
                    avgMcOnline = Math.floor(avgMcOnline / keys.length);
                    avgDiscPercent = Math.floor(avgDiscPercent / keys.length);
                    avgTotalDisc = Math.floor(avgTotalDisc / keys.length);

                    discOnline.push(avgDiscOnline);
                    mcOnline.push(avgMcOnline);
                    discPercent.push(avgDiscPercent);
                    totalDisc.push(avgTotalDisc);
                }

                if(chart!=null){
                    chart.destroy();
                }

                chart = new Chart($("#chart"), {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [
                            (statsmode == 0 || statsmode == 1 ? {
                                label: "# Discorders Online",
                                data: discOnline,
                                backgroundColor: "#7289DA"
                            } : {}),
                            (statsmode == 1 || statsmode == 2 ? {
                                label: "# Minecrafters Online",
                                data: mcOnline,
                                backgroundColor: "limegreen"
                            } : {})
                        ]
                    },
                    options: {
                        responsive: true,
                        tooltips: {
                            enabled: true,
                            callbacks: {
                                label: (tooltipItem, data) => {
                                    var resp = [tooltipItem.value + (tooltipItem.datasetIndex == 0 ? " Discorders" : " Minecrafters")];
                                    if (tooltipItem.datasetIndex == 0) {
                                        resp.push(discPercent[tooltipItem.index] + "% Online");
                                        resp.push(totalDisc[tooltipItem.index] + " Total Members");
                                    }

                                    if (tooltipItem.value == -1) resp = ["No data collected for this day."];
                                    return resp;
                                }
                            }
                        },
                        scales: {
                            yAxes: [{
                                gridLines: {
                                    display: true,
                                    color: "#666"
                                }
                            }],
                            xAxes: [{
                                gridLines: {
                                    display: true,
                                    color: "#666"
                                }
                            }]
                        }
                    }
                });

            }

            //Builds chart showing the hours of a single given day
            function chartDaily(sel) {

                if (!sel) var date = prompt("Enter a date (in form m/d/yyyy, ex: 6/17/2020) to display the hourly statistics for that day.");
                else date = selday;

                if (!date || !date.match("/")) {
                    alert("No valid date entered, using today's date instead.");
                    date = selday;
                }

                $("#spec-date").html(`(${date})`)

                var labels = [];

                //Discord members online for the specified day, in order (on graph)
                var discOnline = [];

                //Minecraft players online for the specified day, in order (on graph)
                var mcOnline = [];

                //% of Discord members online for the specified day, in order (on tooltip)
                var discPercent = [];

                //Total Discord members in guild for specified day, in order (on tooltip)
                var totalDisc = [];

                if (date in stats) {
                    selday = date;

                    var dataset = stats[date];
                    var keys = Object.keys(dataset);

                    keys.forEach((key) => {
                        discOnline.push(dataset[key]["onlineDiscordMembers"]);
                        mcOnline.push(dataset[key]["onlineMinecraftPlayers"]);
                        discPercent.push(Math.floor(dataset[key]["percentDiscordOnline"]));
                        totalDisc.push(dataset[key]["totalDiscordMembers"]);

                        var label = Number(key);

                        if (key == 0) {
                            label = 12;
                        }

                        if (label > 12) {
                            label = label - 12;
                        }

                        if (key < 12) {
                            label += " AM EST";
                        }
                        else {
                            label += " PM EST";
                        }

                        labels.push(label);

                    });

                }
                else {
                    discOnline.push(-1);
                    mcOnline.push(-1);
                    discPercent.push(-1);
                    totalDisc.push(-1);
                }

                if(chart!=null){
                    chart.destroy();
                }

                chart = new Chart($("#chart"), {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [
                            (statsmode == 0 || statsmode == 1 ? {
                                label: "# Discorders Online",
                                data: discOnline,
                                backgroundColor: "#7289DA"
                            } : {}),
                            (statsmode == 1 || statsmode == 2 ? {
                                label: "# Minecrafters Online",
                                data: mcOnline,
                                backgroundColor: "limegreen"
                            } : {})
                        ]
                    },
                    options: {
                        responsive: true,
                        tooltips: {
                            enabled: true,
                            callbacks: {
                                label: (tooltipItem, data) => {
                                    var resp = [tooltipItem.value + (tooltipItem.datasetIndex == 0 ? " Discorders" : " Minecrafters")];
                                    if (tooltipItem.datasetIndex == 0) {
                                        resp.push(discPercent[tooltipItem.index] + "% Online");
                                        resp.push(totalDisc[tooltipItem.index] + " Total Members");
                                    }

                                    if (tooltipItem.value == -1) resp = ["No data collected for this day."];
                                    return resp;
                                }
                            }
                        },
                        scales: {
                            yAxes: [{
                                gridLines: {
                                    display: true,
                                    color: "#666"
                                }
                            }],
                            xAxes: [{
                                gridLines: {
                                    display: true,
                                    color: "#666"
                                }
                            }]
                        }
                    }
                });

            }

            $("#chart-eternity").click((event) => {
                $("#spec-date").html("");
                $(".chart-selected").removeClass("chart-selected");
                setTimeout(() => {$(event.currentTarget).addClass("chart-selected")},100);

                timemode = 0;

                chartEternity();
            });

            $("#chart-weekly").click((event) => {
                $("#spec-date").html("");
                $(".chart-selected").removeClass("chart-selected");
                setTimeout(() => {$(event.currentTarget).addClass("chart-selected")},100);

                timemode = 1;

                chartWeekly();
            });

            $("#chart-daily").click((event) => {
                $("#spec-date").html("");
                $(".chart-selected").removeClass("chart-selected");
                setTimeout(() => {$(event.currentTarget).addClass("chart-selected")},100);

                timemode = 2;

                chartDaily();
            });

            $("#discord-stats").click((event) => {
                $(".stats-selected").removeClass("stats-selected");
                setTimeout(() => {$(event.currentTarget).addClass("stats-selected")},100);

                statsmode = 0;

                var charttypes = [chartEternity,chartWeekly,chartDaily];
                charttypes[timemode](true);
            });

            $("#both-stats").click((event) => {
                $(".stats-selected").removeClass("stats-selected");
                setTimeout(() => {$(event.currentTarget).addClass("stats-selected")},100);

                statsmode = 1;

                var charttypes = [chartEternity,chartWeekly,chartDaily];
                charttypes[timemode](true);
            });

            $("#mc-stats").click((event) => {
                $(".stats-selected").removeClass("stats-selected");
                setTimeout(() => {$(event.currentTarget).addClass("stats-selected")},100);

                statsmode = 2;

                var charttypes = [chartEternity,chartWeekly,chartDaily];
                charttypes[timemode](true);
            });


        });

        
        //Info icon animations
        $(".leftside").mouseover(() => {
            $("#rawjson").css("opacity", 1);
        });

        $(".leftside").mouseout(() => {
            $("#rawjson").css("opacity", 0);
        });

    </script>
</html>